<div class="row">
  <div class="col-lg-12">
    <div class="card m-3">
      <div class="card-body">
        <h2>Add Competition :</h2>
        <hr class="w-25%" />
        <form method="POST" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" [(ngModel)]="addCompetition.date" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="amountOfFish">Amount of Fish</label>
                <input type="number" class="form-control" id="amountOfFish" name="amountOfFish" [(ngModel)]="addCompetition.amountOfFish" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="startTime">Start Time</label>
                <input type="time" class="form-control" id="startTime" name="startTime" [(ngModel)]="addCompetition.startTime" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="endTime">End Time</label>
                <input type="time" class="form-control" id="endTime" name="endTime" [(ngModel)]="addCompetition.endTime" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="numberOfParticipants">Number of Participants</label>
                <input type="number" class="form-control" id="numberOfParticipants" name="numberOfParticipants" [(ngModel)]="addCompetition.numberOfParticipants" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" [(ngModel)]="addCompetition.location" />
              </div>
            </div>
          </div>
          <div class="row float-lg-right">
            <div class="col-2">
              <button type="submit" class="btn btn-primary">Add Competition</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
